In [57]:
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np 
import matplotlib.pyplot as plt
import json, re, os
from ulConnect import getULData, convertDateToDate
from WatchDog import getAllSOH, getSOH, getPurchases
from datetime import datetime, timedelta
from pprint import pprint

In [3]:
r = getULData('Customers/','pageSize=1000')
cust_df = pd.read_json(json.dumps(r.json()['Items']))

In [29]:
print(cust_df[['CustomerCode', 'Guid']][cust_df.CustomerCode.str.contains('Inde')],
      cust_df[['CustomerCode', 'Guid']][cust_df.CustomerCode.str.contains('Morrell')],
      cust_df[['CustomerCode', 'Guid']][cust_df.CustomerCode.str.contains('Red')],
    cust_df[['CustomerCode', 'Guid']][cust_df.CustomerCode.str.contains('Milestone')])

    CustomerCode                                  Guid
116  Inde Studio  2c0d01c7-c492-4385-987b-8ad8cdd34416          CustomerCode                                  Guid
177  Morrell Builders  11f96960-a3e3-4f3d-9883-b707274afef0            CustomerCode                                  Guid
217  Red Stone Builders  f31ae7bd-b182-474e-b429-c91a07b2b567                          CustomerCode                                  Guid
173  Milestones Home Management, Inc.  51448e4e-3470-42fd-a9a9-5dde118e4efb

In [31]:
r = getULData('Suppliers/','pageSize=1000')
manf_df = pd.read_json(json.dumps(r.json()['Items']))

In [9]:
r = getULData('SalesOrders/','pageSize=1000&customerId=2c0d01c7-c492-4385-987b-8ad8cdd34416&startDate=2018-4-9&endDate=2018-12-31&orderStatus=Completed')
inde_so_df = pd.read_json(json.dumps(r.json()['Items']))

In [16]:
inde_so_df.OrderDate = inde_so_df.OrderDate.apply(convertDateToDate)
inde_so_df.CompletedDate = inde_so_df.CompletedDate.apply(convertDateToDate)

TypeError: expected string or bytes-like object

In [18]:
inde_so_df['Time_To_Complete'] = inde_so_df.CompletedDate - inde_so_df.OrderDate

In [19]:
inde_so_df[['OrderDate', 'CompletedDate', 'Time_To_Complete']].head(20)

             OrderDate           CompletedDate         Time_To_Complete
0  2018-11-28 23:00:00 2019-04-05 13:31:14.361 127 days 14:31:14.361000
1  2018-12-19 23:00:00 2019-03-11 20:24:39.703  81 days 21:24:39.703000
2  2018-12-11 23:00:00 2019-02-19 20:49:33.604  69 days 21:49:33.604000
3  2018-12-05 23:00:00 2019-02-18 18:37:05.692  74 days 19:37:05.692000
4  2018-12-04 23:00:00 2019-02-11 20:40:19.262  68 days 21:40:19.262000
5  2018-10-04 23:00:00 2019-02-05 18:46:08.027 123 days 19:46:08.027000
6  2018-11-16 23:00:00 2019-01-28 19:05:44.381  72 days 20:05:44.381000
7  2018-11-13 23:00:00 2019-01-04 18:58:09.068  51 days 19:58:09.068000
8  2018-09-20 23:00:00 2019-01-02 16:30:46.220 103 days 17:30:46.220000
9  2018-09-26 23:00:00 2019-01-02 15:57:25.388  97 days 16:57:25.388000
10 2018-10-26 23:00:00 2018-12-11 21:17:53.897  45 days 22:17:53.897000
11 2018-09-26 23:00:00 2018-12-06 14:36:23.136  70 days 15:36:23.136000
12 2018-10-01 23:00:00 2018-12-04 20:34:42.268  63 days 21:34:42.268000
13 2018-10-02 23:00:00 2018-11-30 19:23:18.567  58 days 20:23:18.567000
14 2018-09-06 23:00:00 2018-11-30 19:22:10.125  84 days 20:22:10.125000
15 2018-11-27 23:00:00 2018-11-28 13:31:35.568   0 days 14:31:35.568000
16 2018-08-31 23:00:00 2018-11-20 18:23:22.872  80 days 19:23:22.872000
17 2018-08-07 23:00:00 2018-11-20 18:22:00.718 104 days 19:22:00.718000
18 2018-11-01 23:00:00 2018-11-20 14:12:25.092  18 days 15:12:25.092000
19 2018-10-08 23:00:00 2018-11-16 16:39:02.903  38 days 17:39:02.903000

In [24]:
inde_so_df[inde_so_df.Time_To_Complete > timedelta(7)]['Time_To_Complete'].mean()

Timedelta('66 days 04:06:23.692260')

In [107]:
r = getULData('SalesOrders/','pageSize=1000&customerId=2c0d01c7-c492-4385-987b-8ad8cdd34416&startDate=2018-4-9&endDate=2019-3-1&orderStatus=Completed')
so_df = pd.read_json(json.dumps(r.json()['Items']))
so_df.OrderDate = so_df.OrderDate.apply(convertDateToDate)
so_df.CompletedDate = so_df.CompletedDate.apply(convertDateToDate)
so_df['Time_To_Complete'] = so_df.CompletedDate - so_df.OrderDate
so_df.Time_To_Complete.mean()

Timedelta('77 days 18:50:04.203428')

In [28]:
r = getULData('SalesOrders/','pageSize=1000&customerId=f31ae7bd-b182-474e-b429-c91a07b2b567&startDate=2018-4-9&endDate=2018-12-31&orderStatus=Completed')
so_df = pd.read_json(json.dumps(r.json()['Items']))
so_df.OrderDate = so_df.OrderDate.apply(convertDateToDate)
so_df.CompletedDate = so_df.CompletedDate.apply(convertDateToDate)
so_df['Time_To_Complete'] = so_df.CompletedDate - so_df.OrderDate
so_df.Time_To_Complete.mean()

Timedelta('26 days 21:23:40.578727')

In [ ]:
r = getULData('SalesOrders/','pageSize=1000&customerId=51448e4e-3470-42fd-a9a9-5dde118e4efb&startDate=2018-4-9&endDate=2019-3-1&orderStatus=Completed')
so_df = pd.read_json(json.dumps(r.json()['Items']))
so_df.OrderDate = so_df.OrderDate.apply(convertDateToDate)
so_df.CompletedDate = so_df.CompletedDate.apply(convertDateToDate)
so_df['Time_To_Complete'] = so_df.CompletedDate - so_df.OrderDate
so_df.Time_To_Complete.mean()

In [83]:
print(manf_df[['SupplierName', 'SupplierCode','Guid']][manf_df.SupplierName.str.contains('WICK')],
      manf_df[['SupplierName', 'SupplierCode','Guid']][manf_df.SupplierName.str.contains('REAL WOO')],
      manf_df[['SupplierName', 'SupplierCode','Guid']][manf_df.SupplierName.str.contains('American O')])

                  SupplierName               SupplierCode  \
117  WICKHAM HARDWOOD FLOORING  WICKHAM HARDWOOD FLOORING

                                     Guid
117  8b08e795-c905-4ddb-a072-c302f700a4b8           SupplierName      SupplierCode                                  Guid
94  REAL WOOD FLOORS  REAL WOOD FLOORS  ba48c6a8-fe8d-4c8f-b676-12e1ff706f02    SupplierName  SupplierCode                                  Guid
8  American OEM  American OEM  d320ea27-5022-44fe-b03a-7038f3e85d65

In [339]:
# r = getPurchases() #getULData('PurchaseOrders/','pageSize=1000')#&supplierCode=WICKHAM HARDWOOD FLOORING#&startDate=2018-4-9&endDate=2018-12-31')
po_df = pd.read_json('purchaseOrders.json')
po_df.CreatedOn = po_df.CreatedOn.apply(convertDateToDate)
po_df.CompletedDate.dropna(inplace=True)
po_df.CompletedDate = po_df.CompletedDate.apply(convertDateToDate)
# so_df['Time_To_Complete'] = so_df.CreatedOn - so_df.OrderDate
# so_df.Time_To_Complete.mean()

In [340]:
po_df.head()

,BCSubTotal,BCTaxTotal,BCTotal,Comments,CompletedDate,CreatedBy,CreatedOn,Currency,DeliveryCity,DeliveryCountry,...,SupplierInvoiceDate,SupplierRef,Tax,TaxRate,TaxTotal,Total,TotalVolume,TotalWeight,Warehouse,XeroTaxCode
0,8006.86,0,8006.86,None,2018-04-09 19:11:28.862,jon@iwhardwood.com,2018-04-08 13:34:18.314,"{'CurrencyCode': 'USD', 'Description': 'United...",Rochester,None,...,/Date(1523246400000)/,S3319,"{'TaxCode': 'NONE', 'Description': None, 'TaxR...",0,0,8006.86,0,0,"{'WarehouseCode': 'IW', 'WarehouseName': 'Inst...",NONE
1,440.00,0,440.00,None,2018-04-09 19:06:01.377,jon@iwhardwood.com,2018-04-08 13:35:52.611,"{'CurrencyCode': 'USD', 'Description': 'United...",Rochester,None,...,/Date(1522900800000)/,S3319,"{'TaxCode': 'NONE', 'Description': None, 'TaxR...",0,0,440.00,0,0,"{'WarehouseCode': 'IW', 'WarehouseName': 'Inst...",NONE
2,1428.48,0,1428.48,None,2018-04-23 21:00:11.599,sue@iwhardwood.com,2018-04-08 13:46:06.639,"{'CurrencyCode': 'USD', 'Description': 'United...",Rochester,None,...,/Date(1523419200000)/,189124,"{'TaxCode': 'NONE', 'Description': None, 'TaxR...",0,0,1428.48,0,0,"{'WarehouseCode': 'IW', 'WarehouseName': 'Inst...",NONE
3,432.00,0,432.00,None,2018-05-14 14:29:20.108,jon@iwhardwood.com,2018-04-08 13:49:57.109,"{'CurrencyCode': 'USD', 'Description': 'United...",Rochester,None,...,/Date(1526011200000)/,S3421,"{'TaxCode': 'NONE', 'Description': None, 'TaxR...",0,0,432.00,0,0,"{'WarehouseCode': 'IW', 'WarehouseName': 'Inst...",NONE
4,2201.92,0,2201.92,None,2018-04-25 15:33:59.356,jon@iwhardwood.com,2018-04-08 13:59:12.391,"{'CurrencyCode': 'USD', 'Description': 'United...",Rochester,None,...,/Date(1523937600000)/,41781,"{'TaxCode': 'NONE', 'Description': None, 'TaxR...",0,0,2201.92,0,0,"{'WarehouseCode': 'IW', 'WarehouseName': 'Inst...",NONE

In [341]:
po_df = po_df[~po_df.CompletedDate.isna()]
po_df['Time_To_Complete'] = po_df.CompletedDate - po_df.CreatedOn

In [342]:
po_df = po_df[['Supplier', 'CreatedOn', 'CompletedDate', 'Time_To_Complete', 'Total']]

In [343]:
po_df.head()

,Supplier,CreatedOn,CompletedDate,Time_To_Complete,Total
0,{'Guid': 'd320ea27-5022-44fe-b03a-7038f3e85d65...,2018-04-08 13:34:18.314,2018-04-09 19:11:28.862,1 days 05:37:10.548000,8006.86
1,{'Guid': 'd320ea27-5022-44fe-b03a-7038f3e85d65...,2018-04-08 13:35:52.611,2018-04-09 19:06:01.377,1 days 05:30:08.766000,440.00
2,{'Guid': '997d9738-72e7-4d21-a648-32d763dd990e...,2018-04-08 13:46:06.639,2018-04-23 21:00:11.599,15 days 07:14:04.960000,1428.48
3,{'Guid': 'd320ea27-5022-44fe-b03a-7038f3e85d65...,2018-04-08 13:49:57.109,2018-05-14 14:29:20.108,36 days 00:39:22.999000,432.00
4,{'Guid': '0871166d-a9b7-439c-afdf-3f67c82ba5c4...,2018-04-08 13:59:12.391,2018-04-25 15:33:59.356,17 days 01:34:46.965000,2201.92

In [344]:
po_df = pd.concat([po_df, json_normalize(po_df.Supplier)], axis=1)

In [345]:
po_df.columns

Index(['Supplier', 'CreatedOn', 'CompletedDate', 'Time_To_Complete', 'Total',
       'Guid', 'SupplierCode', 'SupplierName'],
      dtype='object')

In [353]:
po_df.SupplierCode.dropna(inplace=True)
po_df.to_csv('Purchase_Orders_Flattened.csv', index=False)

In [348]:
print(po_df[po_df.SupplierName == 'WICKHAM HARDWOOD FLOORING']['Time_To_Complete'].mean(), '\n',
po_df[po_df.SupplierName == 'REAL WOOD FLOORS']['Time_To_Complete'].mean(),'\n',
po_df[po_df.SupplierName == 'American OEM']['Time_To_Complete'].mean())
print(po_df[po_df.SupplierName == 'WICKHAM HARDWOOD FLOORING']['Time_To_Complete'].std(), '\n',
po_df[po_df.SupplierName == 'REAL WOOD FLOORS']['Time_To_Complete'].std(),'\n',
po_df[po_df.SupplierName == 'American OEM']['Time_To_Complete'].std())

16 days 10:03:20.624115
 12 days 19:21:45.422590
 24 days 19:33:15.323666
10 days 20:16:54.973582
 14 days 20:23:12.943657
 19 days 18:25:34.988004

### We see here that the amount of time we have orders in our system and the amount of time it takes to receive these orderes from the manufacturers are quite different.

### Now we build a system that will allow us to reduce the time period we are holding onto material for a customer

#### Step 1) Understand the status flag for sales orders:

A sales order can be in either "Parked", "Placed", or "Backoredered" status. We use each of these states for something very specific:

A Placed order is in stock, and ready to be delivered any time
A Backordered order is one where some, or all, of the materail on the sales order has to be ordered from the manufacturer, is currently on a Purchase order, and is being made at the manufacturing facility.
A Parked order is one where we will need to order some materail to fufil the order, but we have not placed that PO yet.

#### Step 2) Using that informaiton:

Our system will look for all Parked sales orders every day, calculate the mean time to fufill an order from the corresponding manufacturer, plus one standard deviation on that time, and make a determination on whether that order should be moved from Parked status to Backordered status, and subsequently purchased from the manufacturer

The system makes this determination by checking if the time delta between the customer's required delivery date, and the current day is less than or equal to the mean time to receive an order + one standard deviation.

If this is the case, an email is triggered letting the inside sales team know to place the order.

## Get all sales orders in parked status:

In [287]:
 r = getULData('SalesOrders/', 'pageSize=1000&orderStatus=Parked')
# r.json()

In [288]:
sales_orders_df = pd.read_json(json.dumps(r.json()['Items']))
sales_orders_df[['CreatedOn', 'RequiredDate']].head()

               CreatedOn           RequiredDate
0  /Date(1565034511928)/  /Date(1565046000000)/
1  /Date(1557924550354)/  /Date(1557961200000)/
2  /Date(1564584520282)/  /Date(1569020400000)/
3  /Date(1564408903634)/  /Date(1564441200000)/
4  /Date(1564409065168)/  /Date(1564441200000)/

The dates in unleashed come through as a datestamp, so my connection program to unleashed has the function convertDateToDate()

In [293]:
sales_orders_df.CreatedOn = sales_orders_df.CreatedOn.apply(convertDateToDate)
sales_orders_df.RequiredDate = sales_orders_df.RequiredDate.apply(convertDateToDate)

In [294]:
sales_orders_df[['CreatedOn', 'RequiredDate']].head()

                CreatedOn        RequiredDate
0 2019-08-05 19:48:31.928 2019-08-05 23:00:00
1 2019-05-15 12:49:10.354 2019-05-15 23:00:00
2 2019-07-31 14:48:40.282 2019-09-20 23:00:00
3 2019-07-29 14:01:43.634 2019-07-29 23:00:00
4 2019-07-29 14:04:25.168 2019-07-29 23:00:00

#### This is all fine, however, in the sales orders dataframe we can't see the actual items customers want to order
We must extract the nested json object labeled SalesOrderLines

Let's have a look here::

In [295]:
sales_orders_df.SalesOrderLines[1]

[{'LineNumber': 1,
  'LineType': None,
  'Product': {'Guid': 'f2a57c67-0917-4643-8d7a-8ec6b38795d2',
   'ProductCode': 'NorBelBlu729100',
   'ProductDescription': "BlueFire 7-7/8' x 29-1/2' (Hummel, FloorCrafter) Belts 100 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 10.0,
  'UnitPrice': 10.09,
  'DiscountRate': 0.3013,
  'LineTotal': 70.5,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 6.41,
  'TaxRate': 0.08,
  'LineTax': 5.64,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 7.05,
  'BCLineTotal': 70.5,
  'BCLineTax': 5.64,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': 'c1c5c0af-ab55-48b1-b074-4769b86354bd',
  'LastModifiedOn': '/Date(1565005451292)/'},
 {'LineNumber': 2,
  'LineType': None,
  'Product': {'Guid': 'bc375bdf-8be0-4037-9c02-251b5348692a',
   'ProductCode': 'NorBelBlu729120',
   'ProductDescription': "BlueFire 7-7/8' x 29-1/2' (Hummel, FloorCrafter) Belts 120 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 60.0,
  'UnitPrice': 10.09,
  'DiscountRate': 0.3013,
  'LineTotal': 423.0,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 5.44,
  'TaxRate': 0.08,
  'LineTax': 33.84,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 7.05,
  'BCLineTotal': 423.0,
  'BCLineTax': 33.84,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': '94b9b141-3241-4adb-ae31-aa11c31258cb',
  'LastModifiedOn': '/Date(1565005451292)/'},
 {'LineNumber': 3,
  'LineType': None,
  'Product': {'Guid': 'f21f744d-01d3-47ea-bfa2-1f5a1ba33dd7',
   'ProductCode': 'NorBelBlu72924',
   'ProductDescription': "BlueFire 7-7/8' x 29-1/2' (Hummel, FloorCrafter) Belts 24 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 40.0,
  'UnitPrice': 12.99,
  'DiscountRate': 0.301,
  'LineTotal': 363.2,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 6.72,
  'TaxRate': 0.08,
  'LineTax': 29.06,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 9.08,
  'BCLineTotal': 363.2,
  'BCLineTax': 29.06,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': '8bca8edb-cd2e-4b13-8982-65c69924bc8d',
  'LastModifiedOn': '/Date(1565005451308)/'},
 {'LineNumber': 4,
  'LineType': None,
  'Product': {'Guid': 'f598c0c9-d0d3-4c5b-96f0-64bd5fea327b',
   'ProductCode': 'NorEdgBlu7516100',
   'ProductDescription': "BlueFire Edger Disks 7' x 5/16' 100 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 200.0,
  'UnitPrice': 0.6900000000000001,
  'DiscountRate': 0.33330000000000004,
  'LineTotal': 92.0,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 0.37,
  'TaxRate': 0.08,
  'LineTax': 7.36,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 0.46,
  'BCLineTotal': 92.0,
  'BCLineTax': 7.36,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': 'b8b130a8-cba1-42fc-99e4-9e7cb8cefdbc',
  'LastModifiedOn': '/Date(1565005451308)/'},
 {'LineNumber': 5,
  'LineType': None,
  'Product': {'Guid': 'f2862ae8-94e1-4de1-a47c-1e3bcd08c6f5',
   'ProductCode': 'NorEdgBlu7516120',
   'ProductDescription': "BlueFire Edger Disks 7' x 5/16' 120 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 450.0,
  'UnitPrice': 0.6900000000000001,
  'DiscountRate': 0.33330000000000004,
  'LineTotal': 207.0,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 0.39,
  'TaxRate': 0.08,
  'LineTax': 16.56,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 0.46,
  'BCLineTotal': 207.0,
  'BCLineTax': 16.56,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': '9ac979e9-2e23-43f4-8f42-3fd03381f8b3',
  'LastModifiedOn': '/Date(1565005451308)/'},
 {'LineNumber': 6,
  'LineType': None,
  'Product': {'Guid': '7bf74df7-ff95-4612-b525-fa62afe35aaa',
   'ProductCode': 'NorEdgBlu751624',
   'ProductDescription': "BlueFire Edger Disks 7' x 5/16' 24 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 100.0,
  'UnitPrice': 1.19,
  'DiscountRate': 0.29410000000000003,
  'LineTotal': 84.0,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 0.42461000000000004,
  'TaxRate': 0.08,
  'LineTax': 6.72,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 0.84,
  'BCLineTotal': 84.0,
  'BCLineTax': 6.72,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': '502bc444-96e0-4134-8bf0-b204bae617de',
  'LastModifiedOn': '/Date(1565005451308)/'},
 {'LineNumber': 7,
  'LineType': None,
  'Product': {'Guid': '015db594-f98c-4ab4-9298-af92682fb14e',
   'ProductCode': 'NorEdgBlu751636',
   'ProductDescription': "BlueFire Edger Disks 7' x 5/16' 36 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 275.0,
  'UnitPrice': 1.09,
  'DiscountRate': 0.2936,
  'LineTotal': 211.75,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 0.62769454545455,
  'TaxRate': 0.08,
  'LineTax': 16.94,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 0.77,
  'BCLineTotal': 211.75,
  'BCLineTax': 16.94,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': 'a12a3bf3-91f1-4caf-a56f-5bb6aab41928',
  'LastModifiedOn': '/Date(1565005451324)/'},
 {'LineNumber': 8,
  'LineType': None,
  'Product': {'Guid': 'c7ee0989-52de-4313-9d54-d3c830fbebdd',
   'ProductCode': 'NorEdgBlu751640',
   'ProductDescription': "BlueFire Edger Disks 7' x 5/16' 40 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 25.0,
  'UnitPrice': 0.99,
  'DiscountRate': 0.32320000000000004,
  'LineTotal': 16.75,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 0.52,
  'TaxRate': 0.08,
  'LineTax': 1.34,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 0.67,
  'BCLineTotal': 16.75,
  'BCLineTax': 1.34,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': '1e57b1c9-8416-40b2-a954-652649e76c4e',
  'LastModifiedOn': '/Date(1565005451324)/'},
 {'LineNumber': 9,
  'LineType': None,
  'Product': {'Guid': '322c1584-f716-4739-bb11-6c474622566f',
   'ProductCode': 'NorEdgBlu751650',
   'ProductDescription': "BlueFire Edger Disks 7' x 5/16' 50 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 125.0,
  'UnitPrice': 0.89,
  'DiscountRate': 0.28090000000000004,
  'LineTotal': 80.0,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 0.52,
  'TaxRate': 0.08,
  'LineTax': 6.4,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 0.64,
  'BCLineTotal': 80.0,
  'BCLineTax': 6.4,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': 'c2b92089-237d-4883-b642-1622e7f6a1e6',
  'LastModifiedOn': '/Date(1565005451339)/'},
 {'LineNumber': 10,
  'LineType': None,
  'Product': {'Guid': '8bdea4ba-1023-4dd9-aa22-82bb0d88324f',
   'ProductCode': 'NorEdgBlu751680',
   'ProductDescription': "BlueFire Edger Disks 7' x 5/16' 80 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 125.0,
  'UnitPrice': 0.6900000000000001,
  'DiscountRate': 0.2899,
  'LineTotal': 61.25,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 0.414288,
  'TaxRate': 0.08,
  'LineTax': 4.9,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 0.49,
  'BCLineTotal': 61.25,
  'BCLineTax': 4.9,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': '8c945ef0-e557-4e7a-8559-eac5a9bba3cd',
  'LastModifiedOn': '/Date(1565005451339)/'},
 {'LineNumber': 11,
  'LineType': None,
  'Product': {'Guid': 'e40d0e68-f1b1-4e56-81b6-3c2a072372ea',
   'ProductCode': 'NorEdgBlu778120',
   'ProductDescription': "BlueFire Edger Disks 7' x 7/8' 120 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 500.0,
  'UnitPrice': 0.6900000000000001,
  'DiscountRate': 0.33330000000000004,
  'LineTotal': 230.0,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 0.38,
  'TaxRate': 0.08,
  'LineTax': 18.4,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 0.46,
  'BCLineTotal': 230.0,
  'BCLineTax': 18.4,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': '42e1a36c-d9dc-4f8a-87b2-1742f38a4e92',
  'LastModifiedOn': '/Date(1565005451339)/'},
 {'LineNumber': 12,
  'LineType': None,
  'Product': {'Guid': 'b8245e87-620e-4857-89b5-517d4fc990bd',
   'ProductCode': 'NorEdgBlu77824',
   'ProductDescription': "BlueFire Edger Disks 7' x 7/8' 24 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 50.0,
  'UnitPrice': 1.19,
  'DiscountRate': 0.29410000000000003,
  'LineTotal': 42.0,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 0.66,
  'TaxRate': 0.08,
  'LineTax': 3.36,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 0.84,
  'BCLineTotal': 42.0,
  'BCLineTax': 3.36,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': '703e6ac9-f6ee-4b0e-95de-911403f3b220',
  'LastModifiedOn': '/Date(1565005451339)/'},
 {'LineNumber': 13,
  'LineType': None,
  'Product': {'Guid': 'a974872e-b70b-43e0-8efc-1cf8ee594872',
   'ProductCode': 'NorEdgBlu77840',
   'ProductDescription': "BlueFire Edger Disks 7' x 7/8' 40 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 300.0,
  'UnitPrice': 0.99,
  'DiscountRate': 0.32320000000000004,
  'LineTotal': 201.0,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 0.5414300000000001,
  'TaxRate': 0.08,
  'LineTax': 16.08,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 0.67,
  'BCLineTotal': 201.0,
  'BCLineTax': 16.08,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': '76a1fafe-b8e6-4afb-a46b-89409665843d',
  'LastModifiedOn': '/Date(1565005451339)/'},
 {'LineNumber': 14,
  'LineType': None,
  'Product': {'Guid': 'd9d2a822-6849-46f0-831e-86ceeb828aee',
   'ProductCode': 'NorEdgBlu77850',
   'ProductDescription': "BlueFire Edger Disks 7' x 7/8' 50 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 225.0,
  'UnitPrice': 0.89,
  'DiscountRate': 0.28090000000000004,
  'LineTotal': 144.0,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 0.53,
  'TaxRate': 0.08,
  'LineTax': 11.52,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 0.64,
  'BCLineTotal': 144.0,
  'BCLineTax': 11.52,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': '18c68c21-609d-4a25-9c6b-65f7de66d637',
  'LastModifiedOn': '/Date(1565005451355)/'},
 {'LineNumber': 15,
  'LineType': None,
  'Product': {'Guid': 'e8009e54-6b35-49e5-acf2-26ee6ea7b4bd',
   'ProductCode': 'NorEdgBlu77860',
   'ProductDescription': "BlueFire Edger Disks 7' x 7/8' 60 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 225.0,
  'UnitPrice': 0.89,
  'DiscountRate': 0.32580000000000003,
  'LineTotal': 135.0,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 0.48,
  'TaxRate': 0.08,
  'LineTax': 10.8,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 0.6000000000000001,
  'BCLineTotal': 135.0,
  'BCLineTax': 10.8,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': '262519f9-2f74-434a-a796-84f692de9457',
  'LastModifiedOn': '/Date(1565005451355)/'},
 {'LineNumber': 16,
  'LineType': None,
  'Product': {'Guid': '65283d87-0923-4bba-9813-77f0c1c17c7f',
   'ProductCode': 'NorEdgBlu77880',
   'ProductDescription': "BlueFire Edger Disks 7' x 7/8' 80 GRIT"},
  'DueDate': '/Date(1557924550340)/',
  'OrderQuantity': 375.0,
  'UnitPrice': 0.6900000000000001,
  'DiscountRate': 0.2899,
  'LineTotal': 183.75,
  'Volume': None,
  'Weight': None,
  'Comments': '',
  'AverageLandedPriceAtTimeOfSale': 0.42,
  'TaxRate': 0.08,
  'LineTax': 14.7,
  'XeroTaxCode': 'Niagara County',
  'BCUnitPrice': 0.49,
  'BCLineTotal': 183.75,
  'BCLineTax': 14.7,
  'LineTaxCode': None,
  'XeroSalesAccount': 'Sales',
  'SerialNumbers': None,
  'BatchNumbers': None,
  'Guid': '3d03bcb8-3c80-4807-ab9b-f75b24a635d2',
  'LastModifiedOn': '/Date(1565005451355)/'}]

I found a cool description of how to use json_normalize on the kaggle website here: https://www.kaggle.com/jboysen/quick-tutorial-flatten-nested-json-in-pandas

I hope that helps someone else to understand this utility.

In [296]:
sales_order_lines_df = json_normalize(r.json()['Items'],record_path='SalesOrderLines', meta=['OrderNumber', 'RequiredDate', 'CreatedOn'])
parked_products = json_normalize(sales_order_lines_df.Product)
sales_order_lines_df['ProductCode'] = parked_products.ProductCode

In [297]:
sales_order_lines_df.columns

Index(['AverageLandedPriceAtTimeOfSale', 'BCLineTax', 'BCLineTotal',
       'BCUnitPrice', 'BatchNumbers', 'Comments', 'DiscountRate', 'DueDate',
       'Guid', 'LastModifiedOn', 'LineNumber', 'LineTax', 'LineTaxCode',
       'LineTotal', 'LineType', 'OrderQuantity', 'Product', 'SerialNumbers',
       'TaxRate', 'UnitPrice', 'Volume', 'Weight', 'XeroSalesAccount',
       'XeroTaxCode', 'OrderNumber', 'RequiredDate', 'CreatedOn',
       'ProductCode'],
      dtype='object')

In [299]:
sales_order_lines_df.tail()

,AverageLandedPriceAtTimeOfSale,BCLineTax,BCLineTotal,BCUnitPrice,BatchNumbers,Comments,DiscountRate,DueDate,Guid,LastModifiedOn,...,TaxRate,UnitPrice,Volume,Weight,XeroSalesAccount,XeroTaxCode,OrderNumber,RequiredDate,CreatedOn,ProductCode
38,23.500000,0.00,599.84,26.08,None,,0.0,/Date(1561984251036)/,ee94cfbd-cdcf-4c0d-ba47-3a23e44d86a7,/Date(1561985714209)/,...,0.00,26.08,None,None,Sales,NONE,SO-00005291,/Date(1562022000000)/,/Date(1561984251067)/,QuietWalkPad
39,11.161000,0.98,12.21,12.21,None,,0.0,/Date(1559749188003)/,e8653dd1-4987-470b-8e0a-0c491bc1c5dc,/Date(1559749464479)/,...,0.08,12.21,None,None,Sales,Monroe County,SO-00004990,/Date(1559775600000)/,/Date(1559749188018)/,GriROIns212
40,1.264448,0.22,2.74,1.37,None,,0.0,/Date(1559749188003)/,125ead7a-e3d2-46bd-8593-d40b85725c1c,/Date(1559749464510)/,...,0.08,1.37,None,None,Sales,Monroe County,SO-00004990,/Date(1559775600000)/,/Date(1559749188018)/,NorTriBac778Mar
41,4.643724,0.40,4.97,4.97,None,,0.0,/Date(1559749188003)/,bd0d870b-44ad-4e4f-9a36-aab3a6824778,/Date(1559749464526)/,...,0.08,4.97,None,None,Sales,Monroe County,SO-00004990,/Date(1559775600000)/,/Date(1559749188018)/,LenPolRapQua
42,2.481677,357.85,4473.11,3.39,None,,0.0,/Date(1553279059720)/,3dcec02b-7fe0-4433-97f3-ddc35e266258,/Date(1553279349033)/,...,0.08,3.39,None,None,Sales,Monroe County,SO-00004176,/Date(1553295600000)/,/Date(1553279059749)/,CumWhi31C

In [300]:
sales_order_lines_df.CreatedOn = sales_order_lines_df.CreatedOn.apply(convertDateToDate)
sales_order_lines_df.RequiredDate = sales_order_lines_df.RequiredDate.apply(convertDateToDate)

In [301]:
sales_order_lines_df.columns

Index(['AverageLandedPriceAtTimeOfSale', 'BCLineTax', 'BCLineTotal',
       'BCUnitPrice', 'BatchNumbers', 'Comments', 'DiscountRate', 'DueDate',
       'Guid', 'LastModifiedOn', 'LineNumber', 'LineTax', 'LineTaxCode',
       'LineTotal', 'LineType', 'OrderQuantity', 'Product', 'SerialNumbers',
       'TaxRate', 'UnitPrice', 'Volume', 'Weight', 'XeroSalesAccount',
       'XeroTaxCode', 'OrderNumber', 'RequiredDate', 'CreatedOn',
       'ProductCode'],
      dtype='object')

In [302]:
sales_order_lines_df = sales_order_lines_df[['OrderNumber', 'CreatedOn', 'RequiredDate', 'ProductCode','OrderQuantity']]

In [303]:
sales_order_lines_df.head(10)

,OrderNumber,CreatedOn,RequiredDate,ProductCode,OrderQuantity
0,SO-00005682,2019-08-05 19:48:31.928,2019-08-05 23:00:00,AmeHeaWO7Nig,1306.48
1,SO-00004799,2019-05-15 12:49:10.354,2019-05-15 23:00:00,NorBelBlu729100,10.00
2,SO-00004799,2019-05-15 12:49:10.354,2019-05-15 23:00:00,NorBelBlu729120,60.00
3,SO-00004799,2019-05-15 12:49:10.354,2019-05-15 23:00:00,NorBelBlu72924,40.00
4,SO-00004799,2019-05-15 12:49:10.354,2019-05-15 23:00:00,NorEdgBlu7516100,200.00
5,SO-00004799,2019-05-15 12:49:10.354,2019-05-15 23:00:00,NorEdgBlu7516120,450.00
6,SO-00004799,2019-05-15 12:49:10.354,2019-05-15 23:00:00,NorEdgBlu751624,100.00
7,SO-00004799,2019-05-15 12:49:10.354,2019-05-15 23:00:00,NorEdgBlu751636,275.00
8,SO-00004799,2019-05-15 12:49:10.354,2019-05-15 23:00:00,NorEdgBlu751640,25.00
9,SO-00004799,2019-05-15 12:49:10.354,2019-05-15 23:00:00,NorEdgBlu751650,125.00

#### Now we have a dataframe that displays all the orders that could potentially need to be ordered from their respective manufacturers.

From here, we must check our exisiting inventory to determine which of the sales order lines we might need to purchase.

### Checking inventory means getting all the stock we have on hand currently.

In [305]:
getSOH()
stock_on_hand_df = pd.read_json('stockOnHand_IW.json')

Now check available quantities of product against parked sales orders

In [306]:
stock_on_hand_df[stock_on_hand_df.AvailableQty < 0].head()

,AllocatedQty,AvailableQty,AvgCost,DaysSinceLastSale,Guid,LastModifiedOn,OnPurchase,ProductCode,ProductDescription,ProductGroupName,ProductGuid,ProductSourceId,QtyOnHand,TotalCost,Warehouse,WarehouseCode,WarehouseId
133,3546.16,-489.93,3.813629,193.0,8a0cca4e-3ae4-4a1c-b1ca-3a0a5900d54f,/Date(1565027229815)/,0.0,AmeAunWO7Gra,Au Naturalle White Oak 7' Graceful Grey,Prefinished Flooring,8a0cca4e-3ae4-4a1c-b1ca-3a0a5900d54f,NaN,3056.23,11655.327,Installers Warehouse,IW,f8aedb90-413a-4628-b1e4-80b609abe455
156,1306.48,-489.93,4.178031,94.0,738f4b51-4e04-4e1c-b186-b75b46b0f7dc,/Date(1556902782770)/,0.0,AmeHeaWO7Nig,White Oak Heart & Soul 7' x 1/2' Nightfall,Prefinished Flooring,738f4b51-4e04-4e1c-b186-b75b46b0f7dc,NaN,816.55,3411.571,Installers Warehouse,IW,f8aedb90-413a-4628-b1e4-80b609abe455
178,1.00,-1.00,0.000000,NaN,a5fe8a2c-029b-471a-955e-3ea471c09345,/Date(1562004989250)/,1.0,AmeStaTalLod,Tall Timbers Hickory Lodge Stain Pen,,a5fe8a2c-029b-471a-955e-3ea471c09345,NaN,0.00,0.000,Installers Warehouse,IW,f8aedb90-413a-4628-b1e4-80b609abe455
185,1.00,-1.00,0.000000,NaN,fc89d9f7-4c0d-4f90-9273-4d6a6424622c,/Date(1562790220400)/,0.0,AmeTriAuGraGreOlaRed,Au Naturelle White Oak Graceful Grey Overlap R...,,fc89d9f7-4c0d-4f90-9273-4d6a6424622c,NaN,0.00,0.000,Installers Warehouse,IW,f8aedb90-413a-4628-b1e4-80b609abe455
486,12.00,-12.00,0.000000,215.0,e27e08a1-5b6c-433f-a7af-95bb9e43ba4d,/Date(1546464543132)/,12.0,DurWatGLO,Duraseal GLOSS Waterbased Polyurethane,Finish,e27e08a1-5b6c-433f-a7af-95bb9e43ba4d,NaN,0.00,0.000,Installers Warehouse,IW,f8aedb90-413a-4628-b1e4-80b609abe455

In [307]:
stock_on_hand_df.columns

Index(['AllocatedQty', 'AvailableQty', 'AvgCost', 'DaysSinceLastSale', 'Guid',
       'LastModifiedOn', 'OnPurchase', 'ProductCode', 'ProductDescription',
       'ProductGroupName', 'ProductGuid', 'ProductSourceId', 'QtyOnHand',
       'TotalCost', 'Warehouse', 'WarehouseCode', 'WarehouseId'],
      dtype='object')

 #### Here, we are going to use a simple for loop

In [308]:
products = sales_order_lines_df.ProductCode.values

In [309]:
r = getULData('Products', 'productCode='+'WicAshCan3PyrMat')

In [310]:
r.json()['Items']

[{'ProductCode': 'WicAshCan3PyrMat',
  'ProductDescription': "Can+  Ash 3.25' Pyramide MATTE",
  'Barcode': None,
  'PackSize': 20.0,
  'Width': None,
  'Height': None,
  'Depth': None,
  'Weight': None,
  'MinStockAlertLevel': 0.0,
  'MaxStockAlertLevel': 0.0,
  'ReOrderPoint': None,
  'UnitOfMeasure': None,
  'NeverDiminishing': False,
  'LastCost': 2.805,
  'DefaultPurchasePrice': 2.96,
  'DefaultSellPrice': 4.59,
  'CustomerSellPrice': None,
  'AverageLandPrice': 2.8009,
  'Obsolete': False,
  'Notes': '20',
  'Images': None,
  'ImageUrl': None,
  'SellPriceTier1': {'Name': 'Premium Retailer', 'Value': '3.8900'},
  'SellPriceTier2': {'Name': 'Retail 1', 'Value': '4.0900'},
  'SellPriceTier3': {'Name': 'Premium Contractor', 'Value': '4.0900'},
  'SellPriceTier4': {'Name': 'Contractor 1', 'Value': '4.1900'},
  'SellPriceTier5': {'Name': 'Contractor 2', 'Value': '4.4900'},
  'SellPriceTier6': {'Name': 'Builder', 'Value': '4.4900'},
  'SellPriceTier7': {'Name': 'Tier 7', 'Value': '0.0000'},
  'SellPriceTier8': {'Name': 'Tier 8', 'Value': '0.0000'},
  'SellPriceTier9': {'Name': 'Tier 9', 'Value': '0.0000'},
  'SellPriceTier10': {'Name': 'Tier 10', 'Value': '0.0000'},
  'XeroTaxCode': None,
  'XeroTaxRate': None,
  'TaxablePurchase': True,
  'TaxableSales': True,
  'XeroSalesTaxCode': None,
  'XeroSalesTaxRate': None,
  'IsComponent': False,
  'IsAssembledProduct': False,
  'ProductGroup': {'GroupName': 'Prefinished Flooring',
   'Guid': '024d99f7-20b1-4b82-a0d2-4c1078dd5d00',
   'LastModifiedOn': '/Date(1523018614804)/'},
  'XeroSalesAccount': None,
  'XeroCostOfGoodsAccount': None,
  'PurchaseAccount': None,
  'BinLocation': None,
  'Supplier': {'SupplierProductCode': None,
   'SupplierProductDescription': None,
   'SupplierProductPrice': 2.69,
   'Guid': '8b08e795-c905-4ddb-a072-c302f700a4b8',
   'SupplierCode': 'WICKHAM HARDWOOD FLOORING',
   'SupplierName': 'WICKHAM HARDWOOD FLOORING'},
  'AttributeSet': None,
  'SourceId': None,
  'SourceVariantParentId': None,
  'IsSerialized': False,
  'IsBatchTracked': False,
  'IsSellable': True,
  'MinimumSellPrice': 0.0,
  'MinimumSaleQuantity': None,
  'MinimumOrderQuantity': None,
  'CreatedBy': 'jon@iwhardwood.com',
  'CreatedOn': '/Date(1523192366023)/',
  'LastModifiedBy': 'sue@iwhardwood.com',
  'Guid': '95437681-d17c-456d-a2f0-b11c9b970ec1',
  'LastModifiedOn': '/Date(1564594907172)/'}]

In [311]:
sales_order_lines_df.tail()

,OrderNumber,CreatedOn,RequiredDate,ProductCode,OrderQuantity
38,SO-00005291,2019-07-01 12:30:51.067,2019-07-01 23:00:00,QuietWalkPad,23.0
39,SO-00004990,2019-06-05 15:39:48.018,2019-06-05 23:00:00,GriROIns212,1.0
40,SO-00004990,2019-06-05 15:39:48.018,2019-06-05 23:00:00,NorTriBac778Mar,2.0
41,SO-00004990,2019-06-05 15:39:48.018,2019-06-05 23:00:00,LenPolRapQua,1.0
42,SO-00004176,2019-03-22 18:24:19.749,2019-03-22 23:00:00,CumWhi31C,1319.5

In [312]:
r = getULData('Products', 'productCode='+str(sales_order_lines_df.iloc[-1]['ProductCode']))
r.json()['Items']

[{'ProductCode': 'CumWhi31C',
  'ProductDescription': "White Oak #1Common 3.25'",
  'Barcode': None,
  'PackSize': 22.75,
  'Width': None,
  'Height': None,
  'Depth': None,
  'Weight': None,
  'MinStockAlertLevel': 400.0,
  'MaxStockAlertLevel': 819.0,
  'ReOrderPoint': None,
  'UnitOfMeasure': {'Guid': '71257255-bc6c-425c-b4e1-094ca897a147',
   'Name': 'SF'},
  'NeverDiminishing': False,
  'LastCost': 2.496,
  'DefaultPurchasePrice': 2.35,
  'DefaultSellPrice': 3.59,
  'CustomerSellPrice': None,
  'AverageLandPrice': 2.4817,
  'Obsolete': False,
  'Notes': '{"PalletSize": 819, “BoxQuantity”: “22.75 sf/ctn”, “Stock”: “True”}',
  'Images': None,
  'ImageUrl': None,
  'SellPriceTier1': {'Name': 'Premium Retailer', 'Value': '2.9900'},
  'SellPriceTier2': {'Name': 'Retail 1', 'Value': '2.9900'},
  'SellPriceTier3': {'Name': 'Premium Contractor', 'Value': '3.1900'},
  'SellPriceTier4': {'Name': 'Contractor 1', 'Value': '3.1900'},
  'SellPriceTier5': {'Name': 'Contractor 2', 'Value': '3.3900'},
  'SellPriceTier6': {'Name': 'Builder', 'Value': '3.3900'},
  'SellPriceTier7': {'Name': 'Tier 7', 'Value': '0.0000'},
  'SellPriceTier8': {'Name': 'Tier 8', 'Value': '0.0000'},
  'SellPriceTier9': {'Name': 'Tier 9', 'Value': '0.0000'},
  'SellPriceTier10': {'Name': 'Tier 10', 'Value': '0.0000'},
  'XeroTaxCode': None,
  'XeroTaxRate': None,
  'TaxablePurchase': True,
  'TaxableSales': True,
  'XeroSalesTaxCode': None,
  'XeroSalesTaxRate': None,
  'IsComponent': False,
  'IsAssembledProduct': False,
  'ProductGroup': {'GroupName': 'Unfinished Flooring',
   'Guid': 'ec09a760-6f2a-43c3-b16f-7063d0af6360',
   'LastModifiedOn': '/Date(1523018614914)/'},
  'XeroSalesAccount': None,
  'XeroCostOfGoodsAccount': None,
  'PurchaseAccount': None,
  'BinLocation': None,
  'Supplier': {'SupplierProductCode': 'F3OW1CN',
   'SupplierProductDescription': None,
   'SupplierProductPrice': None,
   'Guid': '7dc14a03-3105-4be8-9424-eb647a6e24e4',
   'SupplierCode': 'CUMBERLAND LUMBER & MFG. COMPANY, INC.',
   'SupplierName': 'CUMBERLAND LUMBER & MFG. COMPANY, INC.'},
  'AttributeSet': None,
  'SourceId': None,
  'SourceVariantParentId': None,
  'IsSerialized': False,
  'IsBatchTracked': False,
  'IsSellable': True,
  'MinimumSellPrice': 0.0,
  'MinimumSaleQuantity': None,
  'MinimumOrderQuantity': None,
  'CreatedBy': 'jon@iwhardwood.com',
  'CreatedOn': '/Date(1523191917333)/',
  'LastModifiedBy': 'jon@iwhardwood.com',
  'Guid': 'a5bb8227-dec8-4a41-b902-d181c8b870e2',
  'LastModifiedOn': '/Date(1565040718867)/'}]

In [315]:
so_to_order = []
for idx, row in sales_order_lines_df.iterrows():
    temp = stock_on_hand_df[stock_on_hand_df['ProductCode'] == row['ProductCode']]
    if row['ProductCode'] != 'Delivery' and len(temp) > 0:
        val = (temp['AvailableQty'].values[0] + temp['OnPurchase'].values[0])
        # get the supplier information on this product
        r = getULData('Products', 'productCode='+row['ProductCode'])
        print(r.reason)
        p = json_normalize(r.json()['Items'])
        sup_name = p['Supplier.SupplierName'].values[0]
        #use that supplier name to determine the average and std time to complete a po from that supplier
        mean_time_to_complete = po_df[po_df['SupplierName'] == sup_name]['Time_To_Complete'].mean()
        std_time_to_complete = po_df[po_df['SupplierName'] == sup_name]['Time_To_Complete'].std()
        
        #determine if that time is greater or equal to the time from now until when the customer needs the product
        # and if so, append the order to the list of orders to order :-P
        need_by_delta = row['RequiredDate'] - datetime.today()
        po_receive_delta = mean_time_to_complete + std_time_to_complete
        if val < 0 and (need_by_delta <= po_receive_delta):
            so_to_order.append([row['OrderNumber'], row['ProductCode'], row['OrderQuantity'], row['RequiredDate']])

OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK

In [316]:
so_to_order

[['SO-00005682', 'AmeHeaWO7Nig', 1306.48, Timestamp('2019-08-05 23:00:00')],
 ['SO-00005389', 'AmeAunWO7Gra', 1049.85, Timestamp('2019-09-02 23:00:00')],
 ['SO-00005291', 'AmeAunWO7Gra', 2496.31, Timestamp('2019-07-01 23:00:00')]]

In [323]:
so_to_order = pd.DataFrame(so_to_order, columns=['Order Number', 'Product', 'Amount Needed','Required Date'])

### Now we have the list of sales orders we know should be sent to their respective manufacturers.
The next step is to email this list to our inside sales team, and let them know to place the purchase orders

In [318]:
from tabulate import tabulate

In [319]:
print(tabulate(pd.DataFrame(so_to_order)))

-  -----------  ------------  -------  -------------------
0  SO-00005682  AmeHeaWO7Nig  1306.48  2019-08-05 23:00:00
1  SO-00005389  AmeAunWO7Gra  1049.85  2019-09-02 23:00:00
2  SO-00005291  AmeAunWO7Gra  2496.31  2019-07-01 23:00:00
-  -----------  ------------  -------  -------------------

In [357]:
pprint(str(so_to_order.to_html()))

('<table border="1" class="dataframe">\n'
 '  <thead>\n'
 '    <tr style="text-align: right;">\n'
 '      <th></th>\n'
 '      <th>Order Number</th>\n'
 '      <th>Product</th>\n'
 '      <th>Amount Needed</th>\n'
 '      <th>Required Date</th>\n'
 '    </tr>\n'
 '  </thead>\n'
 '  <tbody>\n'
 '    <tr>\n'
 '      <th>0</th>\n'
 '      <td>SO-00005682</td>\n'
 '      <td>AmeHeaWO7Nig</td>\n'
 '      <td>1306.48</td>\n'
 '      <td>2019-08-05 23:00:00</td>\n'
 '    </tr>\n'
 '    <tr>\n'
 '      <th>1</th>\n'
 '      <td>SO-00005389</td>\n'
 '      <td>AmeAunWO7Gra</td>\n'
 '      <td>1049.85</td>\n'
 '      <td>2019-09-02 23:00:00</td>\n'
 '    </tr>\n'
 '    <tr>\n'
 '      <th>2</th>\n'
 '      <td>SO-00005291</td>\n'
 '      <td>AmeAunWO7Gra</td>\n'
 '      <td>2496.31</td>\n'
 '      <td>2019-07-01 23:00:00</td>\n'
 '    </tr>\n'
 '  </tbody>\n'
 '</table>')

In [267]:
import yagmail

In [354]:
html = '<!DOCTYPE html><html><body><h1>Sales orders that should be submitted as POs today:</h1><p>'+so_to_order.to_html()+'</p></body></html>'
html = '<!DOCTYPE html><html><body><h1>Sales orders that should be submitted as POs today:</h1><p></p></body></html>'
# html = so_to_order.to_html()
jon = 'jon@iwhardwood.com'

In [325]:
yag = yagmail.SMTP(user='jon@iwhardwood.com', password='Pass4iwgmail')

In [355]:
yag.send(to=jon,subject='Test', contents=[html] )

{}

In [349]:
po_df.head()

,Supplier,CreatedOn,CompletedDate,Time_To_Complete,Total,Guid,SupplierCode,SupplierName
0,{'Guid': 'd320ea27-5022-44fe-b03a-7038f3e85d65...,2018-04-08 13:34:18.314,2018-04-09 19:11:28.862,1 days 05:37:10.548000,8006.86,d320ea27-5022-44fe-b03a-7038f3e85d65,American OEM,American OEM
1,{'Guid': 'd320ea27-5022-44fe-b03a-7038f3e85d65...,2018-04-08 13:35:52.611,2018-04-09 19:06:01.377,1 days 05:30:08.766000,440.00,d320ea27-5022-44fe-b03a-7038f3e85d65,American OEM,American OEM
2,{'Guid': '997d9738-72e7-4d21-a648-32d763dd990e...,2018-04-08 13:46:06.639,2018-04-23 21:00:11.599,15 days 07:14:04.960000,1428.48,997d9738-72e7-4d21-a648-32d763dd990e,"GLITSA AMERICAN, INC.","GLITSA AMERICAN, INC."
3,{'Guid': 'd320ea27-5022-44fe-b03a-7038f3e85d65...,2018-04-08 13:49:57.109,2018-05-14 14:29:20.108,36 days 00:39:22.999000,432.00,d320ea27-5022-44fe-b03a-7038f3e85d65,American OEM,American OEM
4,{'Guid': '0871166d-a9b7-439c-afdf-3f67c82ba5c4...,2018-04-08 13:59:12.391,2018-04-25 15:33:59.356,17 days 01:34:46.965000,2201.92,0871166d-a9b7-439c-afdf-3f67c82ba5c4,"DESIGN HARDWOOD PRODUCTS, INC.","DESIGN HARDWOOD PRODUCTS, INC."

In [352]:
po_df.CreatedOn = pd.DatetimeIndex(po_df.CreatedOn).normalize()
po_df.CompletedDate = pd.DatetimeIndex(po_df.CompletedDate).normalize()
po_df.groupby('CompletedDate').sum()

                  Total
CompletedDate
2018-04-09      8446.86
2018-04-10      2002.41
2018-04-11     12914.23
2018-04-12      1610.07
2018-04-13      1445.00
2018-04-16      5729.10
2018-04-17      4372.70
2018-04-19     61720.08
2018-04-20     11739.89
2018-04-23      5361.64
2018-04-24     52394.00
2018-04-25      4055.71
2018-04-26     10691.68
2018-04-30      7362.05
2018-05-01     38410.29
2018-05-02     34440.93
2018-05-03     17381.33
2018-05-04      1687.14
2018-05-07      1479.26
2018-05-08     84709.12
2018-05-09       974.08
2018-05-10       567.70
2018-05-11     36761.64
2018-05-14     41479.04
2018-05-15     35472.96
2018-05-16       401.13
2018-05-17     25648.74
2018-05-18     18958.17
2018-05-21     11141.56
2018-05-22       233.42
...                 ...
2019-06-14      3770.43
2019-06-17      3896.71
2019-06-18      3238.92
2019-06-20     13320.55
2019-06-21     30211.93
2019-06-24     12445.25
2019-06-26     16453.94
2019-06-27     18344.31
2019-06-28      8533.20
2019-07-01      7305.35
2019-07-02      6983.46
2019-07-03      3778.20
2019-07-08      3038.22
2019-07-09      1878.06
2019-07-10     63218.56
2019-07-12     56086.52
2019-07-15      5254.90
2019-07-16     76670.73
2019-07-17      1327.81
2019-07-18      2382.43
2019-07-19      7040.27
2019-07-24     51100.18
2019-07-25      8211.36
2019-07-26       967.46
2019-07-27       355.00
2019-07-29     14899.94
2019-07-30     47277.15
2019-07-31     24910.46
2019-08-01      6679.58
2019-08-02      7355.12

[308 rows x 1 columns]